.clusterItemContainer {
    width: 100%;
    height: 95px;
    padding: 3px 10px 3px 10px;
    margin: auto;
}

.clusterItem {
    height: 100%;
    background-color: var(--panelBackgroundColor);
    box-shadow: 0 1px 6px var(--panelShadowColor1), 0 1px 4px var(--panelShadowColor2);
    border-radius: 10px;
    min-width: 500px;
}

.clusterLeft {
    padding-right: 10px;
    float: left;
    width: calc(100% - 190px);
}

.clusterTitle {
    padding-left: 10px;
    margin-top: unset;
    margin-bottom: unset;
    text-align: left;
    line-height: unset;
    font-weight: 500;
    font-size: 22px;
    color: var(--textColor);
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.clusterLeftItem {
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    line-height: unset;
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    color: var(--textColor);
}

.clusterRight {
    padding-right: 10px;
    float: right;
    width: 190px;
}

.clusterRightItem {
    padding-top: 5px;
    margin-bottom: unset;
    line-height: unset;
    font-weight: 300;
    font-size: 12px;
    color: var(--textColor);
    float: right;
}

