.conductItemContainer {
    width: 100%;
    height: 75px;
    padding: 3px 10px 3px 10px;
    margin: auto;
}

.conductItem {
    height: 100%;
    background-color: var(--panelBackgroundColor);
    box-shadow: 0 1px 6px var(--panelShadowColor1), 0 1px 4px var(--panelShadowColor2);
    border-radius: 10px;
    min-width: 500px;
}

.conductLeft {
    padding-right: 10px;
    float: left;
    width: calc(100% - 180px);
}

.conductTitle {
    padding-left: 10px;
    text-align: left;
    line-height: unset;
    font-weight: 500;
    font-size: 22px;
    color: var(--textColor);
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.conductTitle:hover {
    color: var(--textColor);
}

.conductRight {
    padding-right: 10px;
    float: right;
    width: 180px;
}

.conductRightLinks {
    padding-top: 25px;
    padding-bottom: unset;
    float: right;
}

.conductDeleteLink {
    line-height: unset;
    font-weight: 300;
    font-size: 12px;
    color: var(--textColor);
    padding-left: auto;
    float: right;
}

.conductDeleteLink:hover {
    color: var(--errorColor);
    cursor: pointer;
}

.conductEditLink {
    line-height: unset;
    font-weight: 300;
    font-size: 12px;
    color: var(--textColor);
    padding-left: auto;
    float: right;
}

.conductEditLink:hover {
    color: var(--alertColor);
    cursor: pointer;
}

.conductLastEdit {
    padding-top: 5px;
    margin-bottom: unset;
    line-height: unset;
    font-weight: 300;
    font-size: 12px;
    color: var(--textColor);
    float: right;
}

.conductState {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: unset;
    margin-right: 0;
    line-height: unset;
    font-weight: 300;
    font-size: 12px;
    color: var(--textColor);
}

.conductRightOptions {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: unset;
    line-height: unset;
    font-weight: 300;
    font-size: 12px;
    color: var(--textColor);
    float: right;
}


