.textbox {
    background-color: var(--panelComponentBackground); 
    color: var(--textColor);
    border-style: solid;
    border-width: 1px;
    border-color: var(--panelComponentBorder);
    display:inline;
}

.textbox:disabled {
    background-color: var(--panelComponentBackground); 
    color: var(--textDisabledColor);
    border-style: solid;
    border-width: 1px;
    border-color: var(--panelComponentBorder);
}

.textbox:focus {
    background-color: var(--panelComponentBackground-Focus); 
    color: var(--textColor);
    border-style: solid;
    border-width: 1px;
    border-color: var(--panelComponentBorder);
}

.textbox:hover {
    background-color: var(--panelComponentBackground-Focus); 
    color: var(--textColor);
    border-style: solid;
    border-width: 1px;
    border-color: var(--panelComponentBorder);
}

.button {
    background-color: var(--panelComponentBackground);
    border-color: var(--panelComponentBorder);
    color: var(--textColor);
    display:inline
}

.button:hover {
    background-color: var(--panelComponentBackground-Focus);
}

.small {
    width: 100px;
}

.medium {
    width: 350px;
}

