.outer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    height: auto;
    width: auto;
}

.inner {
    width: 450px;
    margin: auto;
    background: var(--panelBackgroundColor);
    box-shadow: 0 1px 6px var(--panelShadowColor1), 0 1px 4px var(--panelShadowColor2);
    color: var(--textColor);
    border-style: solid;
    border-color: var(--panelBorderColor);
    border-width: 1px;
    padding: 30px 30px 45px 30px;
    border-radius: 15px;
    transition: all .3s;
}

.outer .form-control:focus {
    border-color: var(--panelComponentBorder-Focus);
    box-shadow: none;
}

.outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 15px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: var(--mainBackgroundColor);
}

.fullscreen h1 {
    text-align: center;
    margin: 0;
    line-height: 1;
    font-size: 100px;
    padding-bottom: 50px;
    color: var(--textColor);
}

.failedLoginAlert {
    text-align: center;
    width: 100%;
    color: var(--errorColor);
}

.shake {
    animation: shake 0.25s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}