.pluginItemContainer {
    width: 165px;
    height: 140px;
    float: left;
    padding: 3px 3px 3px 3px;
    margin: auto;
}

.pluginItem {
    height: 100%;
    width: 100%;
    background-color: var(--panelBackgroundColor);
    box-shadow: 0 1px 6px var(--panelShadowColor1), 0 1px 4px var(--panelShadowColor2);
    border-radius: 10px;
}

.pluginItem:hover {
    background-color: var(--hoverColor);
}

.pluginLink {
    width: 100%;
}

.pluginLink:hover {
    text-decoration: unset;     
}

.pluginTitle {
    text-align: center;
    line-height: unset;
    font-weight: 500;
    font-size: 22px;
    color: var(--textColor);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}
