#topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    background-color: var(--panelBackgroundColor);
    height: 40px;
    box-shadow: 0 1px 6px var(--panelShadowColor1), 0 1px 4px var(--panelShadowColor2);
    border-style: solid;
    border-color: var(--panelBorderColor);
    border-width: 1px;
    color: var(--textColor);
    padding-left: 10px;
    display: flex;
}

#topbar-right {
    margin-right: 10px;
    float: right;
    text-align: right;
}

.linkRight {
    float: right;
}

.home {
    padding-left: 10px;
    padding-right: 30px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    line-height: unset;
    font-weight: 600;
    font-size: 35px;
    color: var(--textColor);
}

.home:hover {
    color: var(--textColor);
    text-decoration: none;
}

.home:active, .homeActive {
    color: var(--textColor);
    text-decoration: none;
    background-color: unset;
}

.link {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--textColor);
}

.link:hover {
    background-color: var(--hoverColor);
    color: var(--textColor);
    text-decoration: none;
}

.link:focus, .active {
    background-color: var(--hoverColor);
}