.theme-navButton {
    background-color: #111111;
}

.theme-navButton:hover {
    background-color: #220433;
}

.theme-content {
    background-color: #0a0a0a;
    border: none;
    color: #ddd;
}

.theme-popupContainer {

}

.theme-popup {

}

.theme-panelContainer {
    background-color: #222222;
    color: #ddd;
    border-color: #2e6da4;
    border-radius: 2px;
}

.theme-panelHeader {
    background-color: #222222;
}

.theme-panelBody {
    background-color: #222222;
}

.theme-panelFooter {
    background-color: #222222;
}

.theme-panelButton {
    background-color: #222222;
    border-color: #2e6da4;
    color: #ddd;
}

.theme-panelButton:hover {
    background-color: #220433;
}

.theme-panelLabel {
}

.theme-panelTextArea {
    background-color: #0f0f0f;
    min-height: 75px;
    color: #ddd;
}

.theme-panelTextbox {
    background-color: #0f0f0f; 
    color: #ddd;
}

.theme-panelSelect {
    background-color: #0f0f0f; 
}

.theme-panelCheckbox {
    background-color: #0f0f0f;
}

.theme-table {
    background-color: #0f0f0f;
    color: #ddd;
    border-color: #2e6da4;
    border-width: 1px;
    border-style: solid;
}

.theme-tableHeader {
    background-color: #111111;
    color: #ddd;
}

.theme-tableBody {
    border: none;
}

.theme-tableRowOdd {
    background-color: #222222;
    color: #ddd;
}

.theme-tableRowEven {
    background-color: #0f0f0f;
    color: #ddd;
}

.theme-json {
    background-color: #0f0f0f;
    color: #ddd;
}

.theme-jsonkey {
    color: #ff2c10;
}

.theme-jsonstring {
    color: #fff;
}

.theme-jsonboolean {
    color: #32a732;
}

.theme-jsonnull {
    color: #9b9b9b;
}
