<script src="{{ url_for('static', filename='includes/jquery/js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='includes/jquery/js/jquery.datatables.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/datatables/css/dataTables.bootstrap.css') }}">
<script src="{{ url_for('static', filename='includes/datatables/js/dataTables.bootstrap.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/bootstrap-3.3.7/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='includes/visjs/js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='includes/datatables/js/datetime.moment.js') }}"></script>
<script src="{{ url_for('static', filename='includes/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='javascript/helpers.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/default/default.css') }}">

<html>
    <head>
        <title>JIMI - Audit</title>    
    </head>
    <body class="theme-panelContainer">
        <table id="orderTable" class="table table-sm theme-table" cellspacing="0" width="100%">
            <thead class="theme-tableHeader">
            </thead>
            <tbody class="theme-tableBody">
            </tbody>
        </table>
    </body>
</html>

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD-MMM-YY HH:mm:ss');
        var tableData = {{ content|tojson }}
        $('#orderTable').DataTable({
            "stripeClasses" : [ 'theme-tableRowOdd', 'theme-tableRowEven' ],
            "paging" : false,
            "order" : [[ 0, "desc" ]],
            "autoWidth": false,
            columns : [
                { "data": "time", "name": "time", "title": "time", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "source", "name": "source", "title": "source", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "type", "name": "type", "title": "type", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "systemID", "name": "systemID", "title": "systemID", "width": "50px", render: $.fn.dataTable.render.text() },
                { "title" : "data", "width": "50px", "data": "data", render: function (data, type, row) {
                        $pre = '<pre class="theme-json">'+syntaxHighlight(data)+"</pre>";
                        return $pre;
                    } 
                },
            ],
            columnDefs: [{
                orderable: true
            }]
        });
        $('.dataTables_length').addClass('bs-select');
        $('.dataTables_filter input[type="search"]').css({'width':'200px'});
        $('.dataTables_filter input[type="search"]').addClass("theme-panelTextbox")
        var table = $('#orderTable').DataTable();
        for (content in tableData) {
            systemID = ""
            if (tableData[content].hasOwnProperty("systemID")) {
                systemID = tableData[content]["systemID"]
            }
            table.row.add({ "time" : tableData[content]["time"], "source" : tableData[content]["source"], "type" : tableData[content]["type"], "systemID" : systemID, "data" : tableData[content]["data"] })
        }
        table.draw();
    });
</script>