<script src="{{ url_for('static', filename='includes/jquery/js/jquery-3.4.1.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/bootstrap-3.3.7/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='includes/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/default/default.css') }}">

<html>
    <head>
    <title>JIMI</title>
    </head>
    <body class="disable-animations">
        <div id="wrapper" class="wrapper menuDisplayed">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <div class="btn-group btn-block sidebar_item">
                        <a class="btn btn-primary btn-block theme-navButton" role="button" target="content-frame" href="/status/">Status</a>
                        <div class="btn-group btn-block sidebar_item">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle theme-navButton" data-toggle="dropdown">
                                Conducts Editor
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu sidebar-dropdown-menu search-dropdown-menu" role="menu">
                                <input class="form-control" id="myInput" type="text" placeholder="Search.." width="150px">
                                <div id="conducts-list" class="search-dropdown-menu-results">
                                    {% for conduct in conducts %}
                                        <li><a target="content-frame" href="/conductEditor/?conductID={{ conduct["_id"] }}">{{ conduct["name"] }}</a></li>
                                    {% endfor %}
                                </div>
                            </ul>
                        </div>
                        <a class="btn btn-primary btn-block theme-navButton" role="button" target="content-frame" href="/codify/">Codify</a>
                        <div class="btn-group btn-block sidebar_item">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle theme-navButton" data-toggle="dropdown">
                                Administration 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu sidebar-dropdown-menu " role="menu">
                                <div class="search-dropdown-menu-results">
                                    <li><a target="content-frame" href="/model/">Object Editor</a></li>
                                    <li><a target="content-frame" href="/admin/backups/">Backups</a></li>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group btn-block sidebar_item">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle theme-navButton" data-toggle="dropdown">
                                Plugins 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu sidebar-dropdown-menu" role="menu">
                                <div class="search-dropdown-menu-results">
                                    {% for pluginPage in pluginPages %}
                                        <li><a target="content-frame" href="/plugin/{{ pluginPage }}">{{ pluginPage }}</a></li>
                                    {% endfor %}
                                </div>
                            </ul>
                        </div>
                        <a class="btn btn-primary btn-block theme-navButton" role="button" target="content-frame" href="/cluster/">Cluster</a>
                        <a class="btn btn-primary btn-block theme-navButton" role="button" target="content-frame" href="/audit/">Audit</a>
                        <a class="btn btn-primary btn-block theme-navButton" role="button" target="content-frame" href="/workers/">Workers</a>
                        <a class="btn btn-primary btn-block theme-navButton" role="button" target="content-frame" href="/myAccount/">My Account</a>
                        <a class="btn btn-primary btn-block theme-navButton" role="button" href="/api/1.0/auth/logout/">Logout</a>
                    </div>
                </ul>
                <!-- Sidebar bottom -->
                <div id="collapse_sidebar">
                <h1 class="nav-header" >Jimi</h1>
                <ul  class="sidebar-nav">
                    <li class="menu-toggle" ><a href="#" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" style="color:white"></span></a></li>
                </ul>
                </div>
            </div>
            
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid header-panel">
                    V{{ version }}, CodeName=Roll Over
                </div>
                <div class="container-fluid page-background">
                    <div class="container-fluid page-content theme-content">
                        <iframe onload="this.contentWindow.focus()" name="content-frame" class="content-frame" focus()></iframe>
                    </div>
                </div>
                <div class="container-fluid footer-panel">
                        <span class="glyphicon glyphicon-copyright-mark"></span> 2020 
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function(){
        $("#menu-toggle").click(function(e){
            $("body").removeClass("disable-animations");
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
            localStorage.setItem('menu-toggle', $("#wrapper").attr('class'));
        });

        var menuToggle = localStorage.getItem('menu-toggle');
        if (menuToggle) {
            $("#wrapper").attr("class",menuToggle);
        };
    });       
    
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".search-dropdown-menu li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    function authPoll(){
        $.ajax({url:"/api/1.0/auth/poll/", type:"GET", success: function ( result ) {
                var r = result["data"]
                if (r != true) {
                    location.reload();
                }
            }
        });
    }
    setInterval(function(){ authPoll(); }, 10000)
</script>
