.fileUploadFilename {
    width: 100%;
    max-width: 425px;
    margin-left: 10px;
}

.fileUploadFile {
    width: 100%;
    max-width: 425px;
    margin-left: 10px;
}

.fileUpload {
    width: 125px;
    margin-left: 10px;
}