.resultMessage {
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    display:inline;
    transition: all 0.1s step-end;
    padding-left: 15px;
}

.alert {
    color: var(--alertColor);
}

.alertError {
    color: var(--errorColor);
}

.saved, .saved:focus, .saved:hover {
    background-color: var(--alertColor);
}

.error, .error:focus, .error:hover {
    background-color: var(--errorColor);
}
