body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: var(--mainBackgroundColor);
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.container, .col, .col-2 {
  padding-left: 0;
  padding-right: 0;
}

#sidebar-wrapper {
  min-height: 100vh !important;
  max-width: 250px;
}

#pageContent-wrapper {
  background-color: var(--mainBackgroundColor);
  min-width: 0;
  width: 100%;
  padding-top: 40px;
  padding-left: 0;
}
